<div class="ui stackable four column grid story container">
  {{#each stories}}
    <a href="/stories/show/{{id}}" class="ui card story card">
      <div class="content">
        <div class="header">{{title}}</div>
        <div class="meta">
          <span class="category">{{status}}</span>
        </div>
        <div class="description">
          <p>{{{truncate body 150}}}</p>
        </div>
      </div>
      <div class="extra content">
      <div href="/stories/user/{{story.user.id}}">  
        <div class="right floated author">
          <img src={{user.image}} class="ui avatar image">{{user.firstName}} {{user.lastName}}
        </div>
      </div>  
      </div>
    </a>
  {{else}}
    <p>No stories found</p>
  {{/each}}  
</div>